$color-white: #ffffff;
$color-alabaster-white: #fefefe;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #868e96;
$color-gray-700: #424344;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-devil-gray: #666666;
$color-dark-gray: #222222;
$color-black: #000000;

$color-red: #bf211e;
$color-orange: #ff792e;
$color-yellow: #ffd500;
$color-dark-yellow: #fdc500;
$color-light-blue: #a2d6f9;
$color-blue: #1e96fc;
$color-navy: #00509d;
