$global-spacing: 10px;
$global-spacing-xs: $global-spacing;
$global-spacing-sm: $global-spacing * 2;
$global-spacing-md: $global-spacing * 3;
$global-spacing-lg: $global-spacing * 4;
$global-spacing-xlg: $global-spacing * 5;
