@import '../../../styles/2-design-tokens/typography';
@import '../../../styles/2-design-tokens/spacing';
@import '../../../styles/2-design-tokens/colors';
@import '../../../styles/2-design-tokens/media-queries';

.c-banner {
  min-height: 22rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-around;
  box-sizing: border-box;
  background: $color-light-yellow url('/assets/reward.svg') no-repeat;
  background-size: 9rem;
  background-position: right top;
  background-origin: content-box;

  @include screen-mobile-plus-and-bigger {
    background: $color-light-yellow;
    flex-direction: row;
    align-items: center;
    height: 22rem;
  }

  img {
    display: none;

    @include screen-mobile-plus-and-bigger {
      display: block;
      width: 36%;
      max-height: 26rem;
      margin: 0;
    }

  }

  h2 {
    font-size: 2.9rem;
    font-weight: $font-weight-black;
    line-height: 3.8rem;
    text-align: start;

    @include screen-tablet-portrait-and-bigger {
      font-size: 3.5rem;
    }
  }

  p {
    margin: 0;
    max-width: 27rem;
  }
}
