@import '../../styles/2-design-tokens/colors';
@import '../../styles/2-design-tokens/spacing';
@import '../../styles/2-design-tokens/media-queries';

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: auto;
  width: 100%;
  max-width: 80rem;
  box-sizing: border-box;
  padding: $global-spacing-lg;
  background-color: $color-alabaster-white;

  @include screen-tablet-landscape-and-bigger {
    padding: $global-spacing-lg 0;
  }

  a {
    display: flex;
    align-items: center;
  }

  .header__navbar--hide {
    display: none;
  }

  .header__navbar--show {
    display: block;
  }

}
