.c-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: lightyellow;

  .hide-menu {
    display: none;
  }

  .show-menu {
    display: block;
  }
}
