<footer class="c-footer">
  <img src="/assets/paddle.svg" alt="" aria-hidden="true" loading="lazy">
  <article role="contentinfo" class="footer__content-wrap">
    <p>
      <a href="https://www.tatianeaguirres.com/" target='_blank' rel='noreferrer noopener'>Tatiane Aguirres</a>
      &copy;
      <time>{{date}}</time>.
    </p>
    <p>
      Made with <span class="footer__heart" aria-label="love">❤</span> and
      <a href="https://angular.io/" target='_blank' rel='noreferrer noopener'>Angular</a> in
      <img src="/assets/netherlands.png" alt="The Netherlands" class="footer__flag">.
    </p>
    <p>
      Icons made by
      <a href="https://www.flaticon.com/authors/ddara" target='_blank' rel='noreferrer noopener'>dDara</a> from
      <a href="https://www.flaticon.com/" target='_blank' rel='noreferrer noopener'>Flaticon</a>.
    </p>
  </article>
</footer>
