<article class="c-about section">

  <section class="about__header">
    <h2 id="title-about">About Beer Lovers</h2>
    <img src="/assets/woman.svg" alt="Woman in traditional oktoberfest clothes holding a pint of beer">
  </section>

  <section>
    <p>
      This site has no commercial or profitable purpose. It was made by
      <a href="https://www.tatianeaguirres.com/" target='_blank' rel='noreferrer noopener'>Tatiane Aguirres</a>
      as a fan's work to improve her
      <a href="https://angular.io/" target='_blank' rel='noreferrer noopener'>Angular</a> skills.
      The source code for this project can be found in the
      <a href="https://github.com/tatianeaguirres/beer-lovers">GitHub repository</a>.
    </p>
    <p>
      Tatiane is a Front-end Developer Specialized in Visual and Web Accessibility.
      She is Brazilian, lives in the Netherlands, and loves beers (especially wheat beer) and The Simpsons.
    </p>
  </section>

  <section class="about__tech-stack">
    <h3>Tech Stack</h3>
    <div>
      <a href="https://angular.io/" title="Angular" target='_blank' rel='noreferrer noopener'>
        <img src="/assets/angular.svg" aria-hidden="true" alt="">
      </a>
      <a href="https://www.typescriptlang.org/" title="TypeScript" target='_blank' rel='noreferrer noopener'>
        <img src="/assets/typescript.svg" aria-hidden="true" alt="">
      </a>
      <a href="https://sass-lang.com/" title="Sass" target='_blank' rel='noreferrer noopener'>
        <img src="/assets/sass.svg" aria-hidden="true" alt="">
      </a>
      <a href="https://jasmine.github.io/" title="Jasmine" target='_blank' rel='noreferrer noopener'>
        <img src="/assets/jasmine.svg" aria-hidden="true" alt="">
      </a>
      <a href="https://karma-runner.github.io/" title="Karma" target='_blank' rel='noreferrer noopener'>
        <img src="/assets/karma.png" aria-hidden="true" alt="">
      </a>
    </div>
  </section>

  <section class="about__credits">
    <h3>Credits</h3>
    <p>This site uses
      <a href="https://punkapi.com/" target='_blank' rel='noreferrer noopener'>The Punk API</a>,
      which is a free and open-source API with
      <a href="https://www.brewdog.com/uk/" target='_blank' rel='noreferrer noopener'>Brewdog</a>'s
      catalogue of beer.
    </p>
    <p>
      Homer Simpson, our beer expert, belongs to
      <a href="https://en.wikipedia.org/wiki/The_Simpsons" target='_blank' rel='noreferrer noopener'>The Simpsons™</a>,
      which is a registered trademark owned by
      <a href="https://www.20thcenturystudios.com/" target='_blank' rel='noreferrer noopener'>20th Century Studios, Inc</a>.
    </p>
    <p>
      All the beautiful icons were made by
      <a href="https://www.flaticon.com/authors/ddara" target='_blank' rel='noreferrer noopener'>dDara</a> from
      <a href="https://www.flaticon.com/" target='_blank' rel='noreferrer noopener'>Flaticon</a>.
    </p>
  </section>

</article>
