<article class="c-about section">

  <section class="about__header" aria-labelledby="title-about">
    <h2 id="title-about">About Beer Lovers</h2>
    <img src="/assets/woman.svg" alt="Woman in traditional oktoberfest clothes holding a pint of beer">
  </section>

  <section aria-label="Main description.">
    <p>
      This site has no commercial or profitable purpose. It was made by
      <a href="https://www.tatianeaguirres.com/" target='_blank' rel='noreferrer noopener'>Tatiane Aguirres</a>
      as a fan's work to improve her
      <a href="https://angular.io/" target='_blank' rel='noreferrer noopener'>Angular</a> skills.
      The source code for this project can be found in the
      <a href="https://github.com/tatianeaguirres/beer-lovers">GitHub repository</a>.
    </p>
    <p>
      Tatiane is a Front-end Developer Specialized in Visual and Web Accessibility.
      She is Brazilian, lives in the Netherlands, and loves beers (especially wheat beer) and The Simpsons.
    </p>
  </section>

  <section class="about__tech-stack" aria-labelledby="tech-stack-title">
    <h3 id="tech-stack-title">Tech Stack</h3>
    <div>
      <a
        *ngFor="let tech of techStack"
        href="{{tech.url}}"
        title="{{tech.title}}"
        target='_blank'
        rel='noreferrer noopener'
      >
        <img [src]="tech.image" alt="{{tech.title}}">
      </a>
    </div>
  </section>

  <section class="about__credits" aria-labelledby="credits-title">
    <h3 id="credits-title">Credits</h3>
    <p>This site uses
      <a href="https://punkapi.com/" target='_blank' rel='noreferrer noopener'>The Punk API</a>,
      which is a free and open-source API with
      <a href="https://www.brewdog.com/uk/" target='_blank' rel='noreferrer noopener'>Brewdog</a>'s
      catalogue of beer.
    </p>
    <p>
      Homer Simpson, our beer expert, belongs to
      <a href="https://en.wikipedia.org/wiki/The_Simpsons" target='_blank' rel='noreferrer noopener'>The Simpsons™</a>,
      which is a registered trademark owned by
      <a href="https://www.20thcenturystudios.com/" target='_blank' rel='noreferrer noopener'>20th Century Studios, Inc</a>.
    </p>
    <p>
      All the beautiful icons were made by
      <a href="https://www.flaticon.com/authors/ddara" target='_blank' rel='noreferrer noopener'>dDara</a> from
      <a href="https://www.flaticon.com/" target='_blank' rel='noreferrer noopener'>Flaticon</a>.
    </p>
  </section>

</article>
