<article class="c-food-pairing section">
  <span class="anchor-link" id="food-pairing"></span>
  <h2>Food Pairing</h2>
  <div class="food-pairing__buttons-wrap">
    <button
      *ngFor="let foodPairingItem of foodPairing;let index = index"
      (click)="onFilterByFoodPairing(foodPairingItem, index)"
      [ngClass]="{ 'button__selection--active' : index === activeIndex }"
        class="button__selection"
    >
      {{ foodPairingItem }}
    </button>
  </div>
  <app-beer-list [beers]="beers"></app-beer-list>
</article>
