@import '../../../styles/2-design-tokens/spacing';

.c-popular-beers {
  .popular-beers__buttons-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: $global-spacing-sm;
  }
}
