button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__icon {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;

  img {
    height: 3.5rem;
    width: 3.5rem;
    transform: none;
    transition: transform .2s ease-in-out;
  }

  &:hover img,
  &:focus img {
    transform: rotate(10deg);
  }
}

.button__selection {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 10px 10px 0;
  background-color: $color-gray-200;
  transition: background-color .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &--active {
    background-color: $color-light-blue;
  }
}
