<article class="c-beer-expert section">
  <span class="anchor-link" id="beer-expert"></span>
  <img
    src="/assets/homer.png"
    alt="Our beer expert, Homer Simpson, smiling and holding a beer mug."
    loading="lazy"
  >
  <div *ngFor="let beer of beers">
    <h2>Discover your beer!</h2>
    <p>Our beer expert will choose a beer for you. Are you ready?</p>
    <a
      [routerLink]="['/beer', beer.id]"
      aria-label="Go to the beer details that Homer chose for you."
      class="button__primary"
    >Show me</a>
  </div>
</article>
