// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Open+Sans&display=swap');

// Font stacks
$font-logo: 'Open Sans', sans-serif;
$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Ubuntu', sans-serif;
